html {
  min-height: 100%;
  background-color: #f5f4f4;
  padding: 0 0;
  margin: 0 0;
  font-size: 14px
}

.header{
  height: 155px;
  text-align: center;
  color: #f64060;
  font-size: 90px;
  font-family: 'Beth Ellen', cursive;
  margin: 0 ;
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.App * {
  box-sizing: border-box;
}

ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"], input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.suggestions > li:hover {
  background-color: #BCDCDB;
}

.time {
  color: #31b0d5;
  background-image: none;;
  font-weight: 800;
  font-size: 15px;
}

.event {
  padding: 20px 30px 40px 30px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  position: relative;
}

.details-btn {
    position: absolute;
    right: 7px;
    bottom: 8px;
    padding: 8px 10px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid;
    border-color: #31b0d5;
    color: #656666;
    fill: var(--color-viridian);
}

.details-btn:hover {
  color: white;
  background-color: #31b0d5;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going, .visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
  padding-top: 10px;
}

label {
width: 100%;
text-align: center;
}

.number-of-events {
  display: flex;
  flex-direction: column;
}

img {
    max-width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.EventList {
  padding: 0;
}

.error-alert {
  height: 10px;
  margin-bottom: 15px;
}

.info-alert {
  height: 10px;
  margin-bottom: 15px;
}

.offline-alert {
  height: 10px;
  margin-bottom: 15px;
}


@media screen and (max-width: 1024px) {
  .EventList {
    padding: 0 10%;
  }
}

@media screen and (max-width: 768px) {
.header {
  height: 103px;
  font-size: 56px;
  } 
}
