html {
  min-height: 100%;
  background-color: #f5f4f4;
  padding: 0 0;
  margin: 0 0;
  font-size: 14px
}

.header{
  height: 60px;
  text-align: center;
  color: #f64060;
  font-family: 'Beth Ellen', cursive;
  margin: 0 ;
  background-color: #ffffff;
}

.App {
  text-align: center;
}

.App * {
  box-sizing: border-box;
}

ul {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"], input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  height: 38px;
  margin: -13px 10px 2px 10px;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
    flex-direction: column;
    background-color: black;
    max-width: 892px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

.suggestions {
  width: 250px;
  margin: 0;
  font-size: 14px;
  padding-bottom: 10px;
  padding-left: 21px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.suggestions > li:hover {
  background-color: #BCDCDB;
}

.time {
  color: #31b0d5;
  background-image: none;;
  font-weight: 800;
  font-size: 15px;
}

.event {
  padding: 20px 30px 40px 30px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  position: relative;
}

.details-btn {
    position: absolute;
    right: 7px;
    bottom: 8px;
    padding: 8px 10px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid;
    border-color: #31b0d5;
    color: #656666;
    fill: var(--color-viridian);
}

.details-btn:hover {
  color: white;
  background-color: #31b0d5;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going, .visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
  padding-top: 10px;
}

label {
  width: 100%;
  text-align: left;
  padding: 7px 3px 17px 16px;
}

.number-of-events {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 10px;
  padding-bottom: 10px;
}

img {
    max-width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.EventList {
  padding: 0;
}

.error-alert {
  height: 10px;
  width: 250px;
  position: relative;
  top: 73px;
}

.info-alert {
  height: 10px;
  margin-bottom: 15px;
  position: relative;
  text-align: left;
  top: 60px;
  padding-left: 11px;
}

.offline-alert {
  height: 10px;
  margin-bottom: 15px;
}

.tooltip {
  text-align: center;
}

.prebody {
  height: 150px;
  background-color: rgb(5, 63, 83);
  padding-top: 10px;
  color: white;
  font-size: 16px;
}

.logo {
  height: 60px;
    float: left;
    padding: 10px 10px 10px 14px;
}

.chart-div {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid #ccc;
  padding: 22px 0px 10px 0px;
}

.recharts-label {
  font-size: 20px;
}

.n-o-events {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1024px) {
  .EventList {
    padding: 0 10%;
  }
}

@media screen and (max-width: 768px) {
.header {
  height: 103px;
  font-size: 56px;
  } 
}

@media screen and (max-width: 950px) {
  .chart-div {
    display: none;  
  }
}

@media screen and (max-width: 950px) {
  .n-o-events {
 width: 0;
 margin: 0;
  }
}
@media screen and (max-width: 420px) {
  .header {
height: 60px;
  }
}
